*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image:linear-gradient(to right, #a07313,#fa8c15,#f43615);
    margin: 50px 2%; 
}
h1{
    display: flex;
    justify-content: center;
    color: #6b2003;
    text-shadow: -2px 1px#ee0202;
}
.conatiner-title{
    font-size: 25px;
    text-align: center;
    margin: 0 0 30px 0;
    color: white;
    text-shadow: 3px 1px black;

}
/* container */
.input-col{
    display: grid;
    column-gap: 5px;
    grid-template-columns: 60% 10%;
    justify-content: center;
    margin-top: 10px;
}

.textarea{
    min-height: 50px;
    height: 50px;
    max-width: 100%;
    min-width: 100%;
    border-radius: 10px;
    border-color: #333;
    font-size: 20px;
    padding: 10px 10px;
    overflow: auto;
    overflow-x: hidden;
}
.textarea::-webkit-scrollbar-track{
    border-radius: 10px;
    cursor: pointer;
}
.textarea::-webkit-scrollbar{
    width: 10px;
    cursor: pointer;

}
.textarea::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: rgb(45, 32, 81);
    cursor: pointer;
}
.textarea:focus{
    outline: none;
}
.buttoninput{
    border-radius: 10px;
    border-color: #333;
    background-color: #fff;
    font-size: 20px;
}
.buttoninput:hover{
    background-color: #14bdd3;
    color: white;
}
/* js */
.todolist{
    margin-top: 20px;
}

.itemall{
    display: grid;
    grid-template-columns: 60% 5% 5%;
    justify-content: center;
    margin-bottom: 2px;
}
.item , .check-button , .trash-button{
    border: none;
    background-color: white;
    min-height: 50px;
    border-radius: 10px;
    padding: 10px 10px;
}
.item{
    word-break: break-all;
    word-wrap: break-word;
    border-radius: 10px 0 0 10px;
    display: grid;
    align-items: center;
    font-size: 20px;

}

.check-button,.trash-button{

}
.trash-button{
    border-radius: 0 10px 10px 0;
}
.trash-button:hover{
    background-color: #a07313;
    color: white;
}

.check-button:hover{
    background-color: rgb(29, 220, 12);
    color: whitesmoke;
}
.checklist{
    text-decoration: line-through;
}
.fa-check, .fa-trash{
    pointer-events: none;
}
button , .check-button , .trash-button{
    cursor: pointer;
}